.dropdown {
	width: 100%;
	max-width: 1024px;
	margin-bottom: 20px;
}

.dropdown__header {
	cursor: pointer;
	height: 52px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 10px;
	background-color: #ff6060;
	color: white;
}

.dropdown__header .title {
	align-self: center;
	padding-left: 20px;
	text-transform: capitalize;
}

.dropdown__header .chevron {
	align-self: center;
	padding-right: 10px;
	font-size: x-large;
	transition: 0.2s;
}

.dropdown__content {
	display: none;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #f6f6f6;
	color: #ff6060;
	padding: 15px 20px;
	transition: 0.2s;
}

.dropdown.dropdown-is-open .dropdown__content {
	display: block;
}

.dropdown.dropdown-is-open .chevron {
	transform: rotateX(180deg);
}

.dropdown__content ul {
	padding: 0;
}

.dropdown__content li {
	list-style-type: none;
	padding-block-end: 5px;
}
