.baseline {
	position: relative;
	background-color: #f6f6f6;
	border-radius: 10px;
	display: flex;
	align-items: center;
	height: 111px;
	margin: 0 15px 15px;
}

.baseline p {
	color: white;
	position: absolute;
	font-size: 24px;
	text-align: left;
	width: 220px;
	padding: 20px;
}

.baseline img {
	border-radius: 10px;
	object-fit: cover;
	height: 100%;
	width: 100%;
	filter: brightness(70%);
}

@media screen and (min-width: 768px) {
	.baseline {
		border-radius: 25px;
		margin: 50px 75px 0;
		height: 150px;
	}
	.baseline img {
		border-radius: 25px;
	}
	.baseline p {
		text-align: center;
		font-size: 30px;
		width: 100%;
	}
}
