.about-page {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 15px;
	margin: 0 15px;
}

.about-page .about-image {
	border-radius: 10px;
	object-fit: cover;
	filter: brightness(70%);
	height: 220px;
	width: 100%;
	object-fit: cover;
}
