.host {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: fit-content;
}

.host p {
	color: #ff6060;
	font-size: 12px;
	text-align: right;
	width: 70px;
	margin: 0 10px 0 0;
}

.host img {
	border-radius: 50%;
	width: 32px;
	height: 32px;
}
