.carrousel {
	position: relative;
	height: 255px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.carrouselImages {
	position: absolute;
	height: 100%;
	object-fit: cover;
	width: 100%;
	border-radius: 10px;
}

.leftArrow,
.rightArrow {
	height: 30px;
	position: absolute;
	z-index: 9999;
	cursor: pointer;
}

.leftArrow {
	right: 10px;
}

.rightArrow {
	left: 10px;
}

@media screen and (min-width: 768px) {
	.carrousel {
		height: 415px;
	}
	.carrouselImages {
		border-radius: 25px;
	}
	.leftArrow,
	.rightArrow {
		height: 40px;
	}
}
