.thumb {
	position: relative;
	background-color: #ff6060;
	border-radius: 10px;
	height: 45vh;
	width: 100%;
}

.thumb p {
	font-size: 18px;
	box-sizing: border-box;
	color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.7) 0%,
		rgba(0, 0, 0, 0.5) 30%,
		rgba(90, 65, 65, 0.4) 70%,
		rgba(0, 0, 0, 0) 100%
	);
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 15px;
	width: 100%;
}

.thumb img {
	border-radius: 10px;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

@media screen and (min-width: 768px) {
	.thumb {
		width: auto;
		height: auto;
	}
}

@media screen and (min-width: 1200px) {
	.thumb {
		height: 25vw;
	}
}
