* {
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
	line-break: strict;
	color: #ff6060;
	/* white-space: nowrap; */
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	margin: 0;
}

.display-none {
	display: none;
}
